In [2]:
import pandas as pd
import mysql.connector
from datetime import datetime, timedelta

In [ ]:
def get_order_counts(at_date):
    at_date = at_date.strftime('%Y-%m-%d %H:%M:%S')
    cnx = mysql.connector.connect(
        user='root', password='root', host='mysql', database='restaurant_data')
    query = f"""
SELECT 
    r.restaurant_id,
    r.window_start,
    r.window_end,
    r.order_count
FROM 
    restaurant_order_counts r
INNER JOIN (
    SELECT 
        restaurant_id,
        MAX(window_end) as latest_window_end
    FROM 
        restaurant_order_counts
    WHERE 
        window_end <= '{at_date}'
    GROUP BY 
        restaurant_id
) latest ON r.restaurant_id = latest.restaurant_id 
    AND r.window_end = latest.latest_window_end
ORDER BY 
    r.restaurant_id;"""

    df = pd.read_sql(query, cnx)

    return df

df = get_order_counts(datetime.now()-timedelta(minutes=3))
df